#navBar {
    --font-family: 'Raleway', sans-serif;
    background-color: darkcyan;
}

#mainText {
    margin: 20px;
    width: 600px;
    padding: 20px;
    border-color: rgb(255, 255, 255, 0.5);
}

#conMain {
    margin: 100px;
}

#bt-con {
    margin: 40px;
}

@font-face {
    font-family: GothamPro;
    src: url(fonts/GothamPro.eot);
    src: url(fonts/GothamPro.ttf);
  }
  
  @font-face {
    font-family: GothamPro-Black;
    src: url(fonts/GothamPro-Black.eot);
    src: url(fonts/GothamPro-Black.ttf);
  }
  
  @font-face {
    font-family: GothamPro-Light;
    src: url(fonts/GothamPro-Light.eot);
    src: url(fonts/GothamPro-Light.ttf);
  }